body {
    background-color: #e0a7ef;
    margin:10px;
}
.logo img{
    width: 465px;
    top: 20px;
    background-color: #311ceb;
    
}
 
.grid {
    width: 450px;
    height: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 5px 10px 10px 10px;
    border: 2px solid #cbcbcb;
    
}
 
.grid h1 {
    font-family: "sans-serif";
    background-color: #0177FF;
    font-size: 50px;
    text-align: center;
    color: #fff;
    padding: 0px 0px;
    border-radius: 50px;
    
}
 
#score {
    color: #01BBFF;
    text-align: center;
    font-size: 30px;
}
 
.grid #question {
    font-family: "monospace";
    font-size: 30px;
    color: #e91010;
}
 
.buttons {
    margin-top: 30px;
    padding: 20px;
}
 
#btn0, #btn1, #btn2, #btn3 {
    background-color: #aa6790;
    width: 250px;
    font-size: 20px;
    color: #fff;
    border: 1px solid #1D3C6A;
    margin: 10px 10px 10px 0px;
    padding: 5px 5px;
    border-radius:50px;
    cursor:pointer;
}
 
#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    cursor: pointer;
    padding:5px;
    background-color: #02f717;
}
 
#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
    outline: 0;
    margin:5px;
}
 
#progress {
    color: #659809;
    top: -50px;
    font-size: 18px;
}
